body{
    background-color: darkgreen;
    display: grid;
    grid-template-areas:
    "cab cab cab"
    "asi pri pri"
    "foo foo foo" 
    
}
header{
    grid-area: cab;
    background-color: aliceblue;
    text-align: center;
    padding: 30px;
    font-size: 40px;
}
main{
    grid-area: pri;
    background-color: cadetblue;
    text-align: center;
    padding: 15px;
}
aside{
    grid-area: asi;
    background-color: red;
    text-align: center;
    font-size: 20px;
    padding: 15px;
}
footer{
    grid-area: foo;
    background-color: orange;
    text-align: center;
}
aside img, main img{
    width: 350px;
}
main p{
    font-size: 20px;
}